@font-face {
  font-family: "Comfortaa";
  src: url("/assets/fonts/Comfortaa-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "ComfortaaBold";
  src: url("/assets/fonts/Comfortaa-Bold.ttf") format("truetype");
}

body {
  font-family: 'Comfortaa', cursive;
  overflow: hidden;
  .triggerButton {
    display: none;
  }
}