@(gameController: de.htwg.se.ticTacToe3D.controller.controllerComponent.ControllerInterface)

<div class="gameContainer">
@for(gridIndex <- gameController.game.grids.indices) {
    <table class="grid">
    @for(row <- gameController.game.grids(gridIndex).cells.indices) {
        <tr class="row">
        @for(col <- gameController.game.grids(gridIndex).cells(row).indices) {
            <td class="col">
            @if(gameController.game.grids(gridIndex).cell(row, col).isSet) {
                @if(gameController.game.grids(gridIndex).cell(row, col).toString == "X") {
                    <span id="setPlayer1"> _@{gameController.game.grids(gridIndex).cell(row, col).toString}_ </span>
                } else {
                    <span id="setPlayer2"> _@{gameController.game.grids(gridIndex).cell(row, col).toString}_ </span>
                }
            } else {
                <a id="notSet" href="/move/@row@col@gridIndex">
                    ___
                </a>
            }
            </td>
        }
        </tr>
    }
    </table>
    <br>
    }
</div>