@(gameController: de.htwg.se.ticTacToe3D.controller.controllerComponent.ControllerInterface)

<div class="game">
@for(gridIndex <- gameController.game.grids.indices) {
    <table class="grid">
    @for(row <- gameController.game.grids(gridIndex).cells.indices) {
        <tr class="row">
        @for(col <- gameController.game.grids(gridIndex).cells(row).indices) {
            <td class="col">
            @if(gameController.game.grids(gridIndex).cell(row, col).isSet) {
                _@{gameController.game.grids(gridIndex).cell(row, col).toString}_
            } else {
                <a href="/move/@row@col@gridIndex">
                    ___
                </a>
            }
            </td>
        }
        </tr>
    }
    </table>
    <br>
    }
</div>
<a href="/reset">Reset the game</a>
<br><br>
<a href="/restart">Restart the game</a>