@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@(title: String, gameController: de.htwg.se.ticTacToe3D.controller.controllerComponent.ControllerInterface)(content: Html)

<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>
        @* Here's where we render the page title `String`. *@
    <title>@title</title>

    <!-- Bootstrap CSS -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")" >
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/toastr.min.css")" >

    <script src="@routes.Assets.versioned("javascripts/popper.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/jquery-3.5.1.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/anime.min.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/toastr.min.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")" ></script>

    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")"/>

    </head>
    <body class="h-100 bg-light" id="c">
        @* And here's where we render the `Html` object containing
        * the page content. *@
        <div class="d-flex m-0 h-100">
            @if(!(gameController.game.players.contains(null)
                    || "".equals(gameController.game.players(0).name)
                    || "".equals(gameController.game.players(1).name))) {
                <div>
                @{sideBar(gameController)}
                </div>
                <div class="content" style="width: calc(100% - 80px)">
                    <div class="container-fluid h-100 p-0">
                        @content
                    </div>
                </div>
            } else {
                <div class="col-sm-11 content w-100">
                    <div class="container-fluid h-100 p-0">
                        @content
                    </div>
                </div>
            }
        </div>
    </body>
</html>