@(gameController: de.htwg.se.ticTacToe3D.controller.controllerComponent.ControllerInterface)
<div class="p-0 h-100 bg-info shadow sideBar">
    <div class="h-100 d-flex flex-column">
        <a href="/" class="mt-2 mb-5 mx-auto mytooltip">
            <img class="img-fluid text-white" height="60px" width="60px" src="@routes.Assets.versioned("/public", "../../frontend/tictactoe-vue/src/assets/TicTacToe4D_Transparent.png")">
            <span class="tooltiptext">Home</span>
        </a>
        <a href="#" onclick="undo();return false;" class="mt-2 mb-4 mx-auto mytooltip">
            <img class="img-fluid text-white" height="25px" width="25px" src="/assets/icons/bootstrap-icons-1.1.0/arrow-return-left.svg">
            <span class="tooltiptext">Undo</span>
        </a>
        <a href="#" onclick="redo();return false;" class="mt-2 mb-4 mx-auto mytooltip">
            <img class="img-fluid text-white" height="25px" width="25px" src="/assets/icons/bootstrap-icons-1.1.0/arrow-return-right.svg">
            <span class="tooltiptext">Redo</span>
        </a>
        <div class="my-auto"></div>
        <a href="/about" class="mt-2 mb-4 mx-auto mytooltip">
            <img class="img-fluid text-white" height="25px" width="25px" src="/assets/icons/bootstrap-icons-1.1.0/info-circle.svg">
            <span class="tooltiptext">About</span>
        </a>
        <a href="#" onclick="restart();return false;" class="mt-2 mb-4 mx-auto mytooltip">
            <img class="img-fluid text-white" height="25px" width="25px" src="/assets/icons/bootstrap-icons-1.1.0/arrow-counterclockwise.svg">
            <span class="tooltiptext">Restart</span>
        </a>
        <a href="/reset" class="mt-2 mb-4 mx-auto mytooltip">
            <img class="img-fluid text-white" height="25px" width="30px" src="/assets/icons/bootstrap-icons-1.1.0/arrow-repeat.svg">
            <span class="tooltiptext">Reset</span>
        </a>
    </div>
</div>
<script src="@routes.Assets.versioned("/public", "javascripts/sidebar.js")" type="text/javascript"></script>
