@(gameController: de.htwg.se.ticTacToe3D.controller.controllerComponent.ControllerInterface)
@main("HTWG TicTacToe") {
    <div>
        @if(gameController.game.players.contains(null)
        || "".equals(gameController.game.players(0).name)
        || "".equals(gameController.game.players(1).name)) {
            <h1 style="margin-left: 20px">Home</h1>
        }
    </div>
    <div class="statusMessage">
        <div id="statusMessageHeader">
            Status Message:
        </div>
        @{ gameController.statusMessage }
    </div>
    <br><br>
    <div class="game" >
    @{
        if(gameController.game.players.contains(null)
                || "".equals(gameController.game.players(0).name)
                || "".equals(gameController.game.players(1).name)) {
            registerForm()
        } else {
            game(gameController)
        }
    }
    </div>
    <div class="gameButtons">
        @if(!(gameController.game.players.contains(null)
                || "".equals(gameController.game.players(0).name)
                || "".equals(gameController.game.players(1).name))) {
            <button id="resetButton" onclick="location.href='/reset'"> Restart with NEW Players </button>
            <button id="restartButton" onclick="location.href='/restart'"> Restart with SAME Players</button>
        }
    </div>

}





