<!DOCTYPE html> <html lang="en"><head><meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="favicon.ico">
    <title>tictactoe-vue</title>
    <link href="myAssets/css/About.987c8bf9.css" rel="prefetch">
    <link href="myAssets/css/game.10be1631.css" rel="prefetch">
    <link href="myAssets/js/About.1022b5e2.js" rel="prefetch">
    <link href="myAssets/js/game.14cfbf03.js" rel="prefetch">
    <link href="myAssets/js/login.d480fb57.js" rel="prefetch">
    <link href="myAssets/css/chunk-vendors.5165a1a9.css" rel="preload" as="style">
    <link href="myAssets/css/main.6e9a800d.css" rel="preload" as="style">
    <link href="myAssets/js/chunk-vendors.1abb14ba.js" rel="preload" as="script">
    <link href="myAssets/js/main.c5b64f93.js" rel="preload" as="script">
    <link href="myAssets/css/chunk-vendors.5165a1a9.css" rel="stylesheet">
    <link href="myAssets/css/main.6e9a800d.css" rel="stylesheet"></head>
    <body><noscript><strong>We're sorry but tictactoe-vue doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript>
        <div id="app"></div>
        <script src="myAssets/js/chunk-vendors.1abb14ba.js"></script>
        <script src="myAssets/js/main.c5b64f93.js"></script></body>
</html>